# https://github.com/peter-evans/slash-command-dispatch
name: ChatOps Dispatcher

on:
  issue_comment:
    types: [created]

permissions: {}

jobs:
  slashCommandDispatch:
    permissions:
      contents: write # for executing the repository_dispatch event
      pull-requests: write # for peter-evans/slash-command-dispatch to create PR reaction
    if: ${{ github.event.issue.pull_request }}
    runs-on: ubuntu-latest
    steps:
      - name: Slash Command Dispatch
        uses: peter-evans/slash-command-dispatch@9bdcd7914ec1b75590b790b844aa3b8eee7c683a # v5.0.2
        with:
          token: ${{ github.token }}
          commands: |
            condalock
          permission: none
          issue-type: pull-request
